.body{
	background-image: url('ocean.jpg');
	background-repeat: no-repeat;
	background-color: white; 
	width: 100%;
	font-family:'Arial', sans-serif;
}


.h1{
	font-size: 50px;
	text-align: center; 
	font-family: 'Sacramento', cursive;

}
.ul{
	background-color: #ecf0f1;
	text-align: center; 
}

.li{
	display: inline;
	/*text-align: center;*/
}