.body{
	background-image: url('ocean.jpg');
	background-repeat: no-repeat;
	background-color: white; 
	width: 100%;
	font-family:'Tahoma', sans-serif;
}


.h1{
	font-size: 50px;
	text-align: center; 
	font-family: 'Sacramento', cursive;

}
.ul{
	background-color: #ecf0f1;
	text-align: center; 
	padding: 1em;
}

.li{
	display: inline;
	font-weight: bold; 
}

.li a:hover{
	background-color: #bdc3c7;
}

.form{
	font-size: 12px; 
	text-align: center;
	display: block; 
	

}
