<!DOCTYPE html>
<html ng-app= "quoteModule">

<head>
<title>Inspirational Quotes</title>
<link href='https://fonts.googleapis.com/css?family=Sacramento|Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
 <link rel="stylesheet" type="text/css" href="quote.css">
 <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js"></script>
</head>

<body class="body" ng-controller="mainController">
<header>
<h1 class="h1"> Quotes to Move You </h1>
<p class='subHeader'> A Quote App </p>
</header>
<nav>
	<ul class="ul">
		<li class="li"><a href="authors.html">Authors</a></li>
		<li class="li"><a href="ratings.html">Rate These Quotes</a></li>
		<li class="li"><a href="">Topics</a></li>
	</ul>
</nav>

<h4 class="h4"> "In the End We Only Regret the Chances We Didn't Take" </h4>

<div class="form">
	<h3>Add a New Quote </h3>
<!-- <form>
	<label for=''>What is your favorite quote?</label>
	<textarea>Add your favorite quote and who its by!</textarea>
	<button name="quoteSubmit" ng-submit="submit()">Submit</button>
</form> 
 -->
<form ng-submit="submit()">
  Enter a quote and its author:
  <input type="text" ng-model="text" name="quote" />
  <input type="text" ng-model="text" name="author"/>
  <input type="submit" id="submit" value="Submit" />
  <pre>New Quotes! {{quotes}}</pre>
</form>
</div>

<h4 class="h4">"Be somebody who makes everybody feel like a somebody" </h4>

<!-- Popup for random quotes  -->

<div>
	<h3> Your Random Quote is: </h3>
	<h4> {{}} </h4>
	<blockquote>{{}}</blockquote>
	<button class="button"> Close me </button>
</div>

<div>
	<button  class="button">Produce a Random Quote</button>
</div>	

<script type="text/javascript" src="quote.js"></script>
</body>

</html>
