<!DOCTYPE html>
<html ng-app= "quoteModule">

<head>
<title>Inspirational Quotes</title>
<link href='https://fonts.googleapis.com/css?family=Sacramento|Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
 <link rel="stylesheet" type="text/css" href="quote.css">
 <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js"></script>
</head>

<body class="body" ng-controller="mainController">
<header>
<h1 class="h1"> Quotes to Move You </h1>
<h3> A Quote App </h3>
</header>
<nav>
	<ul class="ul">
		<li class="li"><a href="authors.html">Authors</a></li>
		<li class="li"><a href="ratings.html">Rate These Quotes</a></li>
		<li class="li"><a href="">Topics</a></li>
	</ul>
</nav>

<div>
	<p> Some Awesome Quotes!! </p>
		<div>{{quotes}}</div>
</div>


<div class="form">
	<h3>Add a New Quote </h3>

<form ng-submit="addQuote($event)">
	 <p> Enter a quote and its author: </p>
		  <input type="text" ng-model="text" name="quote" />
		  <input type="text" ng-model="text" name="author"/>
		  <input type="submit" id="submit" value="Submit" />
</form>
</div>



<!-- Popup for random quotes  -->



	

<footer> <h3>"Be somebody who makes everybody feel like a somebody" </h3> </footer>


<script type="text/javascript" src="quote.js"></script>
</body>

</html>
