.body{
	background-image: url('ocean.jpg');
	background-repeat: no-repeat;
	background-color: white; 
	width: 100%;
	font-family: 'Shadows Into Light Two', 'Verdana', sans-serif, cursive;
	font-size: 16px;
	text-align: center; 
}

.body h3 {
	font-size: 25px; 
}

.body h4 {
	font-size: 18px; 
}

.body p {
	font-size: 16px;
}

.h1{
	font-size: 50px;
	text-align: center; 
	font-family: 'Sacramento', cursive;
}

.ul{
	background-color: #ecf0f1;
	text-align: center; 
	padding: 1em;
}

.li{
	display: inline;
	font-weight: bold; 
}

.li a:hover{
	background-color: #bdc3c7;
}

.form{
	font-size: 12px; 
	text-align: center;
	display: inline-block; 
	border: solid 1px black;
	width: 30em;
	height: 20em;
}

.button{
	background-color: #2c3e50;
	color: #36d7b7;
}